<div id="login-full-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div id="login-box">
					<div id="login-box-holder">
						<div class="row">
							<div class="col-xs-12">
								<header id="login-header">
									<div id="login-logo">
										<img src="styles/images/logo_white.png" alt=""/>
									</div>
								</header>
								<div id="login-box-inner">
									<form role="form" ng-submit="login()" name="loginForm">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<input class="form-control" type="email" ng-model="user.email" placeholder="Email" required>
										</div>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-key"></i></span>
											<input type="password" ng-model="user.password" class="form-control" placeholder="Contraseña" required>
										</div>
										<div id="remember-me-wrapper">
											<div class="row">
												<div class="col-xs-6">
													<div class="checkbox-nice">
														<input type="checkbox" id="remember-me" checked="checked" />
														<label for="remember-me">
															Recuerdame
														</label>
													</div>
												</div>
												<a ui-sref="forgot" id="login-forget-link" class="col-xs-6">
													¿Olvido su contraseña?
												</a>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<button type="submit" ng-disabled="!loginForm.$valid" class="btn btn-primary col-xs-12">Ingresar</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
