<div class="col-md-12">
	<div class="main-box clearfix">
		<header class="main-box-header clearfix">
			<h1 style="margin-bottom: 10px;padding-left: 0;">Licencias</h1>
			
			
			

			<div class="row">
				<div class="col-xs-10 col-lg-11" style="padding-right: 0;"><input style="border-bottom-right-radius: 0; border-right: none; border-top-right-radius: 0;" type="text" class="form-control" placeholder="Agregar una nueva licencia"></div>
				<div class="col-xs-2 col-lg-1" style="padding-left: 0;"><button style="width: 100%; border-bottom-left-radius: 0;border-top-left-radius: 0;" class="btn btn-primary"><i class="fa fa-plus"></i></button></div>
			</div>
		</header>
		
		<div class="main-box-body clearfix">
			<ul class="widget-todo">
				<li class="clearfix">
					<div class="name">
						<!--<label for="todo-2" style="font-size: 13px;" contenteditable="true" ng-model="editable">
							Checking the stock
						</label>-->
						<div contenteditable="true" ng-model="editable"></div>
						<br/>
					    <textarea rows="9" ng-model="editable"></textarea>
					</div>
					<div class="actions">
						<a href="#" class="table-link">
							<i class="fa fa-pencil"></i>
						</a>
						<a href="#" class="table-link danger">
							<i class="fa fa-trash-o"></i>
						</a>
					</div>
				</li>
				<li class="clearfix">
					<div class="name">
						<label for="todo-2" style="font-size: 13px;">
							Checking the stock
						</label>
					</div>
					<div class="actions">
						<a href="#" class="table-link">
							<i class="fa fa-pencil"></i>
						</a>
						<a href="#" class="table-link danger">
							<i class="fa fa-trash-o"></i>
						</a>
					</div>
				</li>
				<li class="clearfix">
					<div class="name">
						<label for="todo-2" style="font-size: 13px;">
							Checking the stock
						</label>
					</div>
					<div class="actions">
						<a href="#" class="table-link">
							<i class="fa fa-pencil"></i>
						</a>
						<a href="#" class="table-link danger">
							<i class="fa fa-trash-o"></i>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>