<style>
	.required-field{
		color: #ed3e49;
	}

	.alerts{
		margin-top: 20px;
		margin: 10px auto;
		margin-bottom: 0;
	}

	.alerts .alert{
		margin-bottom: 0;
	}
</style>

<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="" ui-sref="home.main">Inicio</a></li>
			<li class="active"><span>Detalle de la evaluación</span></li>
		</ol>
	</div>
</div>

<form role="form" name="formularioEvaluacion" ng-submit="guardarEvaluacion(formularioEvaluacion.$valid)" novalidate>
	<div class="row" style="margin-top: 10px;">
		<div class="col-md-12">
			<div class="main-box">
				<div class="main-box-body clearfix" style="padding: 15px;padding-top: 20px;">
					<div class="pull-left">
						<h1 style="margin: 0 0 10px 0;">Detalle de la evaluación</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="main-box">
				<header class="main-box-header clearfix">
					<h2 class="pull-left">Datos del trabajador</h2>
					<span class="pull-right" style="font-size: 10px;display: block;margin-top: 10px;">Los campos con <span class="required-field">*</span> son requeridos</span>
				</header>

				<div class="main-box-body clearfix">
					<div class="form-group" ng-class="{ 'has-error' : validar('rut') }">
						<label><span class="required-field">*</span> RUT:</label>
						<div class="input-group">
							<input type="text" name="rut" class="form-control" ng-model="trabajador.rut" ng-rut required>
							<span class="input-group-btn">
								<button type="button" class="btn btn-success" ng-click="buscarTrabajador()">Buscar</button>
							</span>
						</div>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : validar('nombres') }">
						<label><span class="required-field">*</span> Nombres:</label>
						<input type="text" name="nombres" class="form-control" ng-model="trabajador.nombres" required>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : validar('apellidos') }">
						<label><span class="required-field">*</span> Apellidos:</label>
						<input type="text" name="apellidos" class="form-control" ng-model="trabajador.apellidos" required>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : validar('fecha_nacimiento') }">
						<label><span class="required-field">*</span> Fecha de nacimiento:</label>
						<input type="text" name="fecha_nacimiento" class="form-control" ng-model="trabajador.fecha_nacimiento" required b-datepicker>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : validar('sexo') }">
						<label><span class="required-field">*</span> Sexo:</label>
						<select name="sexo" class="form-control" ng-model="trabajador.sexo" required>
							<option value="Masculino" selected="selected">Masculino</option>
							<option value="Femenino">Femenino</option>
						</select>
					</div>

					<div class="form-group">
						<label>Nacionalidad:</label>
						<input type="text" name="nacionalidad" class="form-control" ng-model="trabajador.nacionalidad">
					</div>

					<div class="form-group">
						<label>Profesión u oficio:</label>
						<input type="text" name="profesion_oficio" class="form-control" ng-model="trabajador.profesion_oficio">
					</div>

					<div class="form-group" ng-class="{ 'has-error' : validar('telefono') }">
						<label>Teléfono:</label>
						<input type="number" name="telefono" class="form-control" ng-model="trabajador.telefono">
					</div>

					<div class="form-group" ng-class="{ 'has-error' : validar('email') }">
						<label>Email:</label>
						<input type="email" name="email" class="form-control" ng-model="trabajador.email">
					</div>

					<div class="form-group">
						<label>Licencias:</label>
						<tags-input class="form-group" name="licencias" min-length="1" replace-spaces-with-dashes="false" keyProperty="id" ng-model="trabajador.licencias" placeholder="Agregar licencias">
							<auto-complete min-length="1" source="cargarLicencias($query)" key-property="id" display-property="text"></auto-complete>
						</tags-input>
					</div>

				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="main-box">
				<header class="main-box-header clearfix">
					<h2 class="pull-left">Datos del cliente</h2>
					<span class="pull-right" style="font-size: 10px;display: block;margin-top: 10px;">Los campos con <span class="required-field">*</span> son requeridos</span>
				</header>

				<div class="main-box-body clearfix">
					<div class="form-group" ng-class="{ 'has-error' : !empresaValida }">
						<label><span class="required-field">*</span> Empresa:</label>
						<!--<angucomplete-alt id="empresas"
							placeholder="Buscar empresas"
							pause="400"
							selected-object="empresaSeleccionada"
							initial-value="{{trabajador.empresa.razon_social}}"
							remote-url="http://preview.snh7fujp32384cxrlmffilcvx3q2rzfrd95a1oi3qlgqr529.box.codeanywhere.com/public/empresa/buscar?texto="
							title-field="razon_social"
							input-class="form-control"
							disable-input="empresaBloqueada"
							name="empresa"/>-->

						<ui-select ng-model="select.empresa"
							theme="bootstrap"
							
							reset-search-input="false"
							title="Buscar empresas">
							<ui-select-match allow-clear="" placeholder="Buscar una empresa mandante...">{{$select.selected.razon_social}}</ui-select-match>
							<ui-select-choices repeat="empresa in empresas track by $index"
								refresh="cargarEmpresas($select.search)"
								refresh-delay="0">
								<div ng-bind-html="empresa.razon_social | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>

					<div class="form-group">
						<label>Área o departamento:</label>
						<input type="text" name="departamento" class="form-control" ng-model="trabajador.departamento">
					</div>

					<div class="form-group">
						<label>Cargo a despempeñar:</label>
						<input type="text" name="cargo" class="form-control" ng-model="trabajador.cargo">
					</div>

					<div class="form-group" ng-class="{ 'has-error' : !contratoValido }">
						<label><span class="required-field">*</span> Contrato al que suscribe:</label>
						<!--<angucomplete-alt id="contratos"
							placeholder="Buscar contratos"
							pause="400"
							selected-object="contratoSeleccionado"
							disable-input="!select.empresa"
							initial-value="{{evaluacion.contrato.denominacion}}"
							remote-url="{{queryBuscarContratos}}"
							title-field="denominacion"
							input-class="form-control"
							name="contrato"/>-->
						<ui-select ng-model="select.contrato"
							theme="bootstrap"
							ng-disabled="!select.empresa"
							reset-search-input="false"
							title="Buscar contratos">
							<ui-select-match allow-clear="" placeholder="Buscar un contrato...">{{$select.selected.denominacion}}</ui-select-match>
							<ui-select-choices repeat="contrato in contratos track by $index"
								refresh="cargarContratos($select.search)"
								refresh-delay="0">
								<div ng-bind-html="contrato.denominacion | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : !faenasValido }">
						<label><span class="required-field">*</span> Faenas a desempeñarse:</label>
						<tags-input ng-disabled="!select.contrato.id" add-from-autocomplete-only="true" class="form-group" name="faenas" replace-spaces-with-dashes="false" keyProperty="id" ng-model="evaluacion.faenas" placeholder="Buscar faenas">
							<auto-complete source="cargarFaenas($query)" key-property="id" display-property="text" load-on-down-arrow="true" load-on-focus="true"></auto-complete>
						</tags-input>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : validar('fecha_evaluacion') }">
						<label><span class="required-field">*</span> Fecha de evaluación:</label>
						<input type="text" name="fecha_evaluacion" class="form-control" ng-model="evaluacion.fecha_evaluacion" required b-datepicker>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : validar('fecha_vigencia') }">
						<label><span class="required-field">*</span> Fecha de vigencia:</label>
						<input type="text" name="fecha_vigencia" class="form-control" ng-model="evaluacion.fecha_vigencia" required b-datepicker>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="main-box">
				<div class="main-box-body clearfix" style="padding: 15px;padding-top: 20px;">
					<div class="pull-left">
						<a class="btn btn-default" ng-href="#/evaluaciones">Volver</a>
					</div>

					<div class="pull-right">
						<button type="submit" class="btn btn-primary" ng-disabled="!formularioEvaluacion.$valid">Guardar y continuar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
