<div class="row">
	<div class="col-lg-12">
		<div id="content-header" class="clearfix">
			<div class="pull-left">
				<ol class="breadcrumb">
					<li><a ui-sref="home.main">Home</a></li>
					<li><a ng-href="#/evaluaciones/detalle/{{evaluacion.id}}">Detalle evaluación</a></li>
					<li><a ng-href="#/evaluaciones/detalle/{{evaluacion.id}}/requisitos">Requisitos evaluación</a></li>
					<li class="active"><span>Habilitaciones</span></li>
				</ol>
				
				<h1>Habilitaciones</h1>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="main-box">
			<div class="main-box clearfix profile-box-contact">
				<div class="main-box-body clearfix">
					<div class="profile-box-header red-bg clearfix">
						<img ng-src="{{rutaBase + evaluacion.trabajador.imagen}}" alt="" class="profile-img img-responsive" />
						<h2>{{evaluacion.trabajador.nombres}} {{evaluacion.trabajador.apellidos}}</h2>
						<div class="job-position">
							{{evaluacion.trabajador.rut | rut}}
						</div>
						<ul class="contact-details">
							<li>
								<strong>Edad:</strong> {{evaluacion.trabajador.edad}}
							</li>
							<li>
								<strong>Licencias: </strong> <span ng-repeat="licencia in evaluacion.trabajador.licencias">{{licencia.text}}<span ng-if="!$last">,</span> </span> 
							</li>
							<li>
								<strong>Habilitado para: </strong> <span ng-repeat="faena in evaluacion.faenas">{{faena.text}}<span ng-if="!$last">,</span> </span> 
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Restricciones</h2>
				<p>{{evaluacion.trabajador.nombres}} {{evaluacion.trabajador.apellidos}} <span class="text-warning">no puede efectuar:</span></p>
			</header>
			<div class="main-box clearfix profile-box-menu">
				<div class="main-box-body clearfix">
					<div class="form-group">
					<tags-input 
						class="form-group horizontal-tags default"
						name="restricciones"
						replace-spaces-with-dashes="false"
						keyProperty="id"
						on-tag-added="addRestriccion($tag)"
						on-tag-removed="removeRestriccion($tag)"
						add-from-autocomplete-only="true"
						ng-model="restricciones"
						>
						<auto-complete source="buscarHabilidades($query)" load-on-down-arrow="true" key-property="id" display-property="text"></auto-complete>
					</tags-input>
				</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="main-box">
			<header class="main-box-header clearfix">
				<h2>Habilitaciones</h2>
				<p>{{evaluacion.trabajador.nombres}} {{evaluacion.trabajador.apellidos}} <span class="text-success"> puede efectuar:</span></p>
			</header>
	
			<div class="main-box clearfix profile-box-menu">
				<div class="form-group">
					<tags-input 
						class="form-group horizontal-tags success"
						name="habilitaciones"
						replace-spaces-with-dashes="false"
						keyProperty="id"
						on-tag-added="addHabilitacion($tag)"
						on-tag-removed="removeHabilitacion($tag)"
						add-from-autocomplete-only="true"
						ng-model="habilitaciones"
						>
						<auto-complete source="buscarHabilidades($query)" load-on-down-arrow="true" key-property="id" display-property="text"></auto-complete>
					</tags-input>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div id="content-header" class="clearfix footer-buttons">
			<div class="pull-left">
				<a class="btn btn-default" ng-href="#/evaluaciones/detalle/{{evaluacion.id}}/requisitos">Volver</a>
			</div>

			<div class="pull-right">
				<button class="btn btn-success" ui-sref="home.resumen({ id: evaluacion.id })">Continuar y ver resumen</button>
			</div>
		</div>
	</div>
</div>