<h1>Lista de evaluaciones</h1>
<div class="row">

</div>
<div class="row">
	<div class="col-sm-4">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2 class="pull-left">Filtrar resultados</h2>
			</header>

			<div class="main-box-body clearfix">
				<div class="row">

				</div>
				<form class="form">
					<div class="form-group">
						<label for="exampleInputName2">Nombre</label>
						<ui-select ng-model="filtro.trabajador"
							theme="bootstrap"
							reset-search-input="false"
							title="Buscar trabajador">
							<ui-select-match allow-clear="" placeholder="Buscar trabajador...">{{$select.selected.nombre}}</ui-select-match>
							<ui-select-choices repeat="trabajador in trabajadores track by $index"
								refresh="cargarTrabajadores($select.search)"
								refresh-delay="0">
								<div ng-bind-html="trabajador.nombre | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
					<div class="form-group">
						<label for="exampleInputEmail2">Fecha de evaluación:</label>
						<div class="row">
							<div class="col-xs-6"><input type="text" name="fecha_evaluación" class="form-control" ng-model="filtro.fecha_evaluacion_desde" required b-datepicker placeholder="Desde"></div>
							<div class="col-xs-6"><input type="text" name="fecha_evaluación" class="form-control" ng-model="filtro.fecha_evaluacion_hasta" required b-datepicker placeholder="Hasta"></div>
						</div>
					</div>
					<div class="form-group">
						<label>Empresa mandante:</label>
						<ui-select ng-model="filtro.mandante"
							theme="bootstrap"
							ng-disabled="disabled"
							reset-search-input="false"
							title="Buscar empresas">
							<ui-select-match allow-clear="" placeholder="Buscar una empresa mandante...">{{$select.selected.razon_social}}</ui-select-match>
							<ui-select-choices repeat="empresa in empresas track by $index"
								refresh="cargarEmpresas($select.search)"
								refresh-delay="0">
								<div ng-bind-html="empresa.razon_social | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>

					<div class="form-group">
						<label>Empresa contratista:</label>
						<ui-select ng-model="filtro.contratista"
							theme="bootstrap"
							ng-disabled="disabled"
							reset-search-input="false"
							title="Buscar empresas">
							<ui-select-match allow-clear="" placeholder="Buscar una empresa contratista...">{{$select.selected.razon_social}}</ui-select-match>
							<ui-select-choices repeat="empresa in empresas track by $index"
								refresh="cargarEmpresas($select.search)"
								refresh-delay="0">
								<div ng-bind-html="empresa.razon_social | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
					<button type="button" class="btn btn-primary" ng-click="filtrar()">Filtrar</button>
				</form>
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2 class="pull-left">Evaluaciones</h2>
			</header>

			<div class="main-box-body clearfix">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-repeat="evaluacion in evaluaciones">
						<a ui-sref="home.resumen({ id: evaluacion.id })" style="color: black;">
						<div class="main-box clearfix project-box red-box" style="border: 1px solid #eee">
							<div class="main-box-body clearfix">
								<div class="row" style="margin-left: 0;margin-right: 0;">
									<div class="col-sm-5" style="padding: 0;">
										<div style="padding: 10px;">
											<img ng-if="evaluacion.imagen" ng-src="{{rutaBase + evaluacion.imagen}}" style="width: 100%;border-radius: 4px;" src="http://www.hvacsite.com/assets/misc/no-avatar-62-d18c4750a2d78a5b251023a3dd99e28b.png" alt="">
											<img ng-if="!evaluacion.imagen"  style="width: 100%;border-radius: 4px;" src="http://www.hvacsite.com/assets/misc/no-avatar-62-d18c4750a2d78a5b251023a3dd99e28b.png" alt="">
										</div>
									</div>
									<div class="col-sm-7">
										<div  style="padding: 10px;padding-left: 0;margin-left: -5px;">
											<div style="font-size: 17px; font-weight: 300; margin-bottom: 10px;">Daniel Alejandro Vergara Urrutia</div>
											<div style="font-size: 12px; font-weight: 600;">16.560.206-4</div>
											<div style="font-size: 12px; font-weight: 300;">Sattel</div>
										</div>
									</div>
								</div>

								<div class="project-box-ultrafooter clearfix">
									<div class="link pull-right" style="font-size: 12px; margin-top: 0;">
										<i class="fa fa-calendar"> </i> {{evaluacion.fecha_evaluacion  | amDateFormat:'LL'}}
									</div>
								</div>
							</div>
						</div>
						</a>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12"><div style="margin-left: 8px;" paging page="paginaActual" page-size="cantidadPagina" total="total" paging-action="pagina(page)"></div></div>
				</div>

			</div>
		</div>
	</div>
</div>
